// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

// ** Active Skin configs ** //
$skinLogo: url("https://www.gstatic.com/webp/gallery3/1.sm.png") no-repeat 0 0;

$skinActiveColor: #fa3f3f;
$skinHeaderBck: #f5c8b4;
$panelHeaderBck: #4a8d68;

@import "active_skin";
@import "active_admin_sidebar";